<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">

    <title>Devin's Baked</title>
  </head>
  <body>
    <button id="btn" onclick="requestAPI()">Cookies</button>
    <button1 id="bttn" onclick="requestAPI()">Cake</button1>
    <nav>
<a href="/">Home</a>
<a href="about">About</a>
<a href="location">Locations</a>
<a href="contact">Contact</a>
<a href="socialmedia">SocialMedia</a>
    </nav>
      <%= yield %>
    </body>
  <script src="main.js" charset="utf-8"></script>
</html>
